.Body_container{
    background-image: url('../../images/illustration-editor-desktop.svg');
    background-size: 55%;
    background-repeat: no-repeat;
    background-position: 135% 600%;
    font-family: 'Overpass', sans-serif;
    min-height: 100vh;
    padding-top: 8%;
}

/* .Body_subcontainer_one{
    display: flex;
    justify-content: center;
} */

.Body_Main_Title{
    font-size: 35px;
    font-weight: 600;
    color: hsl(208, 49%, 24%);
    padding-bottom: 5%;
}

.Body_Section_One, .Body_Section_Two{
    width: 50%;
    padding-left: 10%;
    text-align: start;
}

.Body_Title{
    color: hsl(208, 49%, 24%);
    font-weight: 600;
    font-size: 20px;
}

.Body_Text{
    width: 80%;
    color: hsl(207, 13%, 34%);
    font-weight: 300;
}