@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&family=Ubuntu:wght@400;500;700&display=swap');

.Navbar_Container{
    background-repeat: no-repeat;
    background-position: 28% 51%;
    background-image: url('../../images/bg-pattern-intro-desktop.svg'), 
        linear-gradient(
            145deg, hsl(13, 100%, 72%), 
            hsl(13, 100%, 72%), 
            hsl(353, 100%, 62%),
            hsl(353, 100%, 62%),
            hsl(353, 100%, 62%),
            hsl(353, 100%, 62%));
    border-bottom-left-radius: 100px;
    font-family: 'Ubuntu', sans-serif;
}

.Navbar_Header{
    display: flex;
    justify-content: space-around;
    padding-top: 2%;
    flex-wrap: wrap;
}

.Navbar_Header_Menu{
    display: flex;
    align-items: start;
    flex-wrap: wrap;
}

.Navbar_Header_Logo{
    height: 60%;
}

/* mobile version items */
    .Navbar_Menu_Icon_mobile{
        display: none;
    }

    .Navbar_Close_Icon_mobile{
        display: none;
    }

    .Navbar_Menu_mobile{
        display: none;
    }
/* mobile version items */

.Navbar_Header_Select{
    display: flex;
    justify-content: space-evenly;
}

.Navbar_Select{
    color: hsl(0, 0%, 100%);
}

.Navbar_Select:hover{
    cursor: pointer;
    text-decoration: underline;
    /* font-weight: bold; */
}

ul{
    list-style: none;
}

.Select_List{
    background-color: hsl(0, 0%, 100%);
    color: hsl(208, 49%, 24%);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    text-align: start;
    padding-top: 1%;
    /* min-width: 150px; */
    /* position: absolute;
    display: none; */
}


/* manage menus */
.Navbar_Select ul {
    position: absolute;
    display: none;
    min-width: 150px;
}

.Select_List li:hover{
    font-weight: bolder;
    cursor: pointer;
}

.Navbar_Select:hover > ul{
    display: block;
    overflow: hidden;
    animation: grow 250ms ease-in-out;
}

.Navbar_Select:hover > li > img{
    transform: rotate(180deg);
}

.Navbar_Buttons{
    display: flex;
    align-items: start;
    padding-top: 8px;
}

.Navbar_Button, .Navbar_Button_Singup{
    padding: 5%;
    width: 80px;
    color: hsl(0, 0%, 100%);
    text-align: center;
    
}

.Navbar_Button_Singup{
    margin-left: 20px;
}

.Navbar_Button_Singup:hover{
    background-color: hsl(0, 0%, 100%);
    color:hsl(353, 100%, 62%);
    font-weight: bolder;
    border-radius: 100px;
    cursor: pointer;
    transition: .2s;
}

.Navbar_Button:hover{
    background-color: hsl(355, 100%, 74%);
    border-radius: 100px;
    cursor: pointer;
    font-weight: bolder;
    transition: .2s;
}

.Navbar_body{
    padding: 10%;
    display: flex;
    flex-direction: column;
}

.Navbar_body_title, .Navbar_body_subtitle{
    color: hsl(0, 0%, 100%);
    font-family: 'Overpass', sans-serif;
}

.Navbar_body_title{
    font-weight: 600;
    font-size: 47px;
}

.Navbar_body_subtitle{
    font-weight: 300;
    padding: 5%;
}

.Navbar_body_buttons{
    display: flex;
    justify-content: center;
}

.Body_Button_One{
    background-color: hsl(0, 0%, 100%);
    color: rgb(245, 54, 76);
    font-weight: bold;
    text-align: center;
    width: 110px;
    padding: 2%;
    margin-right: 2%;
    border-radius: 100px;
}

.Body_Button_One:hover{
    color: hsl(0, 0%, 100%);
    background-color: hsl(355, 100%, 74%);
    border-radius: 100px;
    cursor: pointer;
    font-weight: bolder;
    transition: .2s;
}

.Body_Button_Two{
    border: solid 1px hsl(0, 0%, 100%);
    border-radius: 100px;
    color: hsl(0, 0%, 100%);
    text-align: center;
    width: 110px;
    padding: 2%;
}

.Body_Button_Two:hover{
    background-color: hsl(0, 0%, 100%);
    color:rgb(245, 54, 76);
    border-radius: 100px;
    cursor: pointer;
    font-weight: bolder;
    transition: .2s;
}

@media (max-width: 576px){
    
    .Navbar_Container{
        background-size: 350%;
        background-position: 38% 30%;
    }
    .Navbar_body{
        padding-top: 40%;
        padding-bottom: 20%;
    }

    .Navbar_Header{
        display: flex;
        justify-content: center;
        padding-top: 2%;
        flex-wrap: wrap;
        
    }
    .Navbar_Header_Logo{
        padding-left: 5%;
        padding-top: 5%;
        height: 60%;
        margin-right: 80%;
    }
    .Navbar_Menu_Icons{
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 20%;
    }
    .Navbar_Menu_Icon_mobile{
        display: block;
        height: 60%;
        padding-top: 5%;
    }
    .Navbar_Header_Select{
        display: none;
    }
    .Navbar_body_title{
        font-size: 33px;
    }
    .Navbar_body_subtitle{
        padding-bottom: 20%;
    }
    .Navbar_body_buttons{
        padding-bottom: 30%;
    }
    .Navbar_Buttons{
        display: none;
    }
    .Body_Button_One, .Body_Button_Two{
        padding-top: 5%;
        padding-bottom: 5%;
    }
    .Navbar_ul_mobile ul{
        position: absolute;
        display: none;
        min-width: 150px;
    }
    .Navbar_ul_mobile:hover > ul {
        display: block;
        overflow: hidden;
        animation: grow 250ms ease-in-out;
    }

    .Navbar_Menu_mobile{
        z-index: 10;
        position: relative;
        left: 10%;
        right: 10%;
        top: 15%;
        background-color: hsl(0, 0%, 100%);
        border-radius: 10px;
        color: hsl(208, 49%, 24%);
        font-size: 18px;
        padding: 5%;
        box-shadow: 0px 0.1px 5px rgba(41, 41, 41, 0.833);
    }
    .Navbar_Item_Menu_mobile{
        padding: 5%;
    }

    /* manage menus */
    .Select_List_mobile{
        display: none;
        background-color: hsl(0, 6%, 93%);
        border-radius: 10px;
        padding-top: 5%;
    }

    .Navbar_ul_mobile li:hover > div {
        /* display: block; */
        color:hsl(207, 13%, 34%);
    }

    .Select_List_mobile.display{
        animation: grow 250ms ease-in-out;
        display: block;
    }
    .Navbar_ul_mobile li:hover > img{
        transform: none;
    }
    
    .Select_List_mobile > li:hover{
        cursor: pointer;
        font-weight: bolder;
    }

    .Navbar_buttons_mobile{
        border-top: solid 1px gray;
        margin-top: 10%;
        padding: 10%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .Singup_mobile{
        color: hsl(0, 0%, 100%);
        font-weight: bold;
        margin-top: 10%;
        padding: 5%;
        width: 40%;
        border-radius: 100px;
        background-image: linear-gradient(145deg, hsl(13, 100%, 72%), hsl(353, 100%, 62%));
    }

    /* hide icons */
    .Navbar_ul_mobile:hover > li > .Navbar_Close_Icon_mobile{
        display: block;
    }
    .Navbar_ul_mobile:hover > li > .Navbar_Menu_Icon_mobile{
        display: none;
    }
}

@keyframes grow {
    from{
        max-height: 0%;
    }
    to{
        max-height: 100%;
    }
}